argon2-cffi 
async-generator
attrs 
backcall
beautifulsoup4 
bleach 
brotlipy
certifi
cffi 
chardet 
click
cryptography 
cycler
decorator
defusedxml
entrypoints
filelock
flake8 
hatesonar
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2
joblib 
jsonschema 
jupyter
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
kiwisolver 
MarkupSafe
matplotlib 
mccabe
mistune
mkl-fft
mkl-random
mkl-service
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk 
notebook 
numpy 
olefile
packaging 
pandas
pandocfilters 
parso
pexpect 
pickleshare 
Pillow 
prometheus-client 
prompt-toolkit 
ptyprocess 
pycodestyle
pycparser 
pyflakes
Pygments 
pyOpenSSL 
pyparsing
pyrsistent 
PySocks 
python-dateutil
pytz 
PyYAML
pyzmq
qtconsole 
QtPy
regex 
requests 
sacremoses
scikit-learn 
scipy 
seaborn 
Send2Trash 
sip
six 
soupsieve 
terminado
testpath
threadpoolctl 
tokenizers
torch
torchaudio
torchvision
tornado 
tqdm 
traitlets 
transformers
urllib3 
wcwidth 
webencodings
widgetsnbextension
zipp 
